/* ===== IMPORTS ===== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ===== RESET START ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/* ===== RESET END ===== */

/* CSS START */

nav {
  position: fixed;
  inset: 0;
  z-index: 99;
  width: 100vw;
  height: 8vh;
  background: #02202a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav img {
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.nav-list {
  color: white;
  width: 100vw;
  height: 100vh;
  place-content: center;
  gap: 20px;
  display: none;
  position: absolute;
  inset: 0;
  background: #02202a;
}

.show {
  display: grid;
}

.burger-btn {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  right: 10px;
  z-index: 100;
  transition: transform 0.2s;
}

.rotate {
  transform: rotate(90deg);
}

/* Header Slideshow */

header {
  margin-top: 8vh;
  position: relative;
  width: 100vw;
  height: 91.5vh;
}

.header-container {
  margin: 0 auto;
  width: 100vw;
  height: 92vh;
  position: relative;
}

.header-container img {
  position: absolute;
  width: 40%;
  bottom: 15vh;
}

.header-container img:nth-child(1) {
  left: 5%;
}

.header-container img:nth-child(2) {
  right: 5%;
}

.slides {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main */

main {
  width: 100vw;
  background: #02202a;
  padding-bottom: 5vh;
}

.main-heading {
  color: white;
  text-align: center;
  padding-top: 50px;
  color: #0e6884;
  font-size: 1.6rem;
}

.cards {
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  color: #0e6884;
  font-size: 3rem;
  height: 400px;
  box-shadow: 3px 3px 10px black;
  margin: 0 auto;
  width: 90%;
  margin-top: 50px;
}

.card p {
  font-size: 2rem;
  text-align: center;
}

.card a {
  color: whitesmoke;
  font-size: 1.2rem;
  background: #0e6884;
  padding: 10px;
  border-radius: 999px;
  width: 40vw;
  text-align: center;
}

.card a:hover {
  box-shadow: 6px 6px 10px black;
  transform: translateY(-3px);
}

/* Form */

.form-sec {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-sec img {
  height: 100%;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

.form-sec * {
  width: 100%;
}

.form-sec h2 {
  text-align: center;
  color: #0e6884;
  margin-top: 10vh;
}

.form-sec input {
  display: block;
  height: 40px;
  border-radius: 100000px;
  background: transparent;
  border: 1px solid white;
  width: 80vw;
  margin: 0 auto;
  outline: 2px solid #0e6884;
  border: none;
}

.form-sec input::placeholder {
  color: white;
  padding: 10px;
  font-weight: 300;
}

.form-sec input:focus {
  outline: 2px solid rgb(7, 131, 119);
}

.form-sec select {
  display: block;
  height: 30px;
}

.form-wrapper {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1;
}

.form-wrapper form {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

textarea {
  background: transparent;
  max-width: 80vw;
  margin-left: 10vw;
  border-radius: 30px;
  height: 200px;
  padding: 15px;
  color: white;
  outline: 2px solid #0e6884;
  border: none;
}

textarea:focus {
  outline: 2px solid rgb(7, 131, 119);
}

input[type="submit"] {
  margin-top: 1vh;
  width: 80vw;
  height: 40px;
  background: var(--purple);
  color: white;
  background: #0e6884;
  border: none;
  cursor: pointer;
}

.success {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  font-size: 1.2rem;
  color: white;
  z-index: -1;
}

/* Footer */

footer {
  width: 100vw;
  background: #02202a;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
}

.footer-contact {
  color: whitesmoke;
  text-align: center;
}

footer img {
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.footer-social i {
  color: white;
  font-size: 3rem;
  margin-right: 20px;
}
